body{
    background: #020122;
    margin: 0;
}


.navbar-brand, .nav-item{
    color:#A1A8BC !important;
    font-size: 1.2rem !important;
    margin-left: 2rem !important;
}

#homescreensection{
    margin-top: 9em;
    color: #fafafa;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 60vh;
    box-sizing: border-box;
    font-family: 'Nunito';
}

.homescreen-title{
    font-size: 5em;
}

#homescreensection > p{
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
}



/*
    font-size: 1.5em;
    margin-left: -10px !important;
    animation-name: floating; 
    animation-duration: 3s; 
    animation-iteration-count: infinite; 
    animation-timing-function: ease-in-out; 
    margin-left: 30px; 
    margin-top: 5px;
*/

@keyframes floating { 
    0% { transform: translate(0,  0px); } 
    50%  { transform: translate(0, 5px); } 
    100%   { transform: translate(0, -0px); }     
}


#section2{
    background-color: #020122;
    color: #fafafa;
    height: 80vh;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}


.investmentcalc{
    background-color: #fafafa;
    border-radius: 20px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 50%;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 40px;
    box-shadow: 0 1px 1px rgba(63, 62, 62, 0.11), 
              0 2px 2px rgba(63, 62, 62, 0.11), 
              0 4px 4px rgba(63, 62, 62, 0.11), 
              0 8px 8px rgba(63, 62, 62, 0.11), 
              0 16px 16px rgba(63, 62, 62, 0.11), 
              0 32px 32px rgba(63, 62, 62, 0.11);
}

.investmentresult{
    background-color: #fafafa;
    border-radius: 20px;
    text-align: left;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 35%;
    text-align: center;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 40px;
    box-shadow: 0 1px 1px rgba(63, 62, 62, 0.11), 
              0 2px 2px rgba(63, 62, 62, 0.11), 
              0 4px 4px rgba(63, 62, 62, 0.11), 
              0 8px 8px rgba(63, 62, 62, 0.11), 
              0 16px 16px rgba(63, 62, 62, 0.11), 
              0 32px 32px rgba(63, 62, 62, 0.11);
    color: #020122;
}





.invcalc-heading{
    font-family: 'Varela Round', sans-serif;
    color: #020122;
    font-weight: 550;
}

.wish{
    font-family: 'Varela Round', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
    display: inline;
    color: #020122;
}

.inv-value{
    float: right;
    width: 7em;
    text-align: center;
    padding-right: 10px;
    font-weight: 480;
    outline: none;
    border: none;
    font-size: 1.3em;
    margin-bottom: 15px;
    background-color: transparent;
    color: #020122;
    border-bottom: 2px solid #020122;
    transition: border ease-in-out 650ms;
}

.inv-value:focus{
    outline: none;

}

#subtext{
    font-size: 0.8em;
    display: inline;
    font-family: 'Varela Round', sans-serif;
    color: #020122;
}

.subtextright{
    float: right;
}

.slider{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 5px;
    background: grey;
    border-radius: 10px;
    outline: none;
    border: none;
    opacity: 0.9;
    transition: opacity 550ms;
}

.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    height: 20px;
    width: 20px;
    background: #020122;
    cursor: pointer;
    border-radius: 50%;

}


.slider:hover{
    opacity: 1;
}


.footer{
    height: 100vh;
    box-sizing: border-box;
}

/*Iphone X, 6, 7, 8, Google pixel etc*/
@media only screen and (max-width: 400px) {
    .homescreen-title{
        font-size: 4.2em;
    }

    #performancebtntitle{
        margin-top: 70%;
    }
}


/*Iphone SE*/
@media only screen and (max-width: 400px) {
    .homescreen-title{
        font-size: 3.5em;
    }
}



